
# Visual Studio
.vs/
**/Debug/
**/Release/
**/*.user
**/*.suo
**/*.opensdf
**/*.sdf
**/*.pdb
**/*.ipch
**/*.db
**/*.dll
**/*.ilk
**/*.lib

# C++ Compilation
*.exe
*.o
*.obj
*.out

# VS Code
.vscode/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Word/Office
~$*.doc*

# Directories
**/x64/
**/ipch/
**/.vs/
