
# Visual Studio
.vs/
Debug/
Release/
*.user
*.suo
*.opensdf
*.sdf

# C++ Compilation
*.exe
*.o
*.obj
*.out

# VS Code
.vscode/

# OS
Thumbs.db
Desktop.ini
.DS_Store


# Word/Office
~$*.doc*

# More VS/C++ exclusions
*.pdb
*.ipch
*.db
*.dll
x64/
ipch/
*.ilk
*.lib
